.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
LDC-LTDL_v02.Rproj
RData/
data/LDC-points
data/raw/downloaded
data/raw/LDC
data/raw/Treatment_Info_R.csv
data/versions-from-R
data/GIS-exports
data/data-wrangling-intermediate/14.1_LDC008-coordinate-lists
data/data-wrangling-intermediate/14.2_results_bulk-point-query-service